

<div class="private-square span 6 offset 2">
  <h1>
    
    My awesome App is here!
      
  </h1>
  
  <br/>
  <%= link_to 'Launch', posts_path, :class => 'btn btn-info btn-large' %>
  
    
  <h2>
      
   
      
  </h2>
</div>